<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_team_path,class: "text-decoration-none" do %>
    <%= render 'shared/new_rec_button' %>
  <% end %>
</div>

<div class="main-container" id="root">
  <h1 class="list-title-text">// TEAM RECRUITMENTS</h1>
  <h1 class="title title-top">TEAM</h1>

  <section class="search-form">
    <%= search_form_for @q, class: "search-section" do |f| %>

    <div class="search-item">

      <%= f.search_field :team_title_cont, placeholder:"TITLE" %>
    </div>

    <div class="search-item">

      <%= f.search_field :team_game_id_cont, placeholder:"NAME" %>
    </div>

    <div class="search-item">

      <%= f.search_field :team_text_cont, placeholder:"BODY" %>
    </div>

    <div class="tag-search-item">


      <div class="">
        <%= f.collection_check_boxes(:team_tags_name_in, TeamTag.all, :name, :name) do |tag| %>
          <div class='form-check'>
            <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="search-submit-btn-container">
      <%= f.submit "SEARCH", class: "btn submit-btn" %>
    </div>
    <% end %>
  </section>

  <%= render 'list' %>

  <ul class="item-lists">
    <%# render partial: 'team', collection: @teams %>
  </ul>

</div>