<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_team_path do %>
    <%= render 'shared/new_rec_button' %>
  <% end %>
</div>

<div class="container" id="root">
  <h1 class="list-title-text">// TEAM RECRUITMENTS</h1>

  <h1 class="title title-top">TEAM</h1>


  <div class="item-lists">
    <% if user_signed_in? %>
      <% @teams.each do |team| %>
        <%= react_component("TeamList", {post: team, tags: team.team_tags, userId: current_user.id}) %>
      <% end %>
    <% else %>
      <% @teams.each do |team| %>
        <%= react_component("TeamList", {post: team, tags: team.team_tags}) %>
      <% end %>
    <% end %>
  </div>

  <ul class="item-lists">
    <%# render partial: 'team', collection: @teams %>
  </ul>

</div>