<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_team_path do %>
    <%= render 'shared/new_rec_button' %>
  <% end %>
</div>

<div class="container">
  <div class="rec-title">
    <h1>TEAM</h1>
  </div>

  <% if user_signed_in? %>
    <%= react_component("TeamList", {posts: @teams, userId: current_user.id}) %>
  <% else %>
    <%= react_component("TeamList", {posts: @teams}) %>
  <% end %>

  <ul class="item-lists">
    <%# render partial: 'team', collection: @teams %>
  </ul>

</div>