<%= form_with model: @party, local: true do |f| %>

  <div class="new-item">

    <%= render 'shared/error_messages', model: @party %>

    <div class="weight-bold-text">
      タイトル
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :party_title, class: "text-input", id: "item-title", placeholder: "募集タイトル", maxlength: "40"%>

    <div class="weight-bold-text">
      ゲームID
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :party_game_id, class: "text-input", id: "item-game-id", placeholder:"Cypher#0010" %>

    <div class="new-item-text">
      <div class="weight-bold-text">
        募集内容
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :party_text, class: "text-input text-box", id: "item-text", placeholder: "募集文", rows: "7", maxlength: "1000" %>
    </div>

    <div class="submit-btn-contents">
      <%= f.submit "掲載する", class: "btn submit-btn" %>
      <%= link_to 'BACK', parties_path, class: "btn back-btn" %>
    </div>
  </div>

<% end %>