<%= render 'shared/header' %>

<div class="item-contents">
  <div class="new-item-main">
    <h2 class="new-item-title">編集</h2>
    <%= form_with model: @party, local: true do |f| %>

    <div class="new-item">
      <div class="weight-bold-text">
        タイトル
      </div>
      <%= f.text_area :party_title, class: "text-area", id: "item-title", placeholder: "募集タイトル", maxlength: "40"%>
      <div class="weight-bold-text">
        ゲームID
      </div>
      <%= f.text_area :party_game_id, class: "text-area", id: "item-game-id", placeholder:"Cypher#0010" %>
      <div class="new-item-text">
        <div class="weight-bold-text">
          募集内容
        </div>
        <%= f.text_area :party_text, class: "text-area text-box", id: "item-text", placeholder: "VALORANTを一緒にプレイするパーティーメンバーを募集します。ランクはシルバー1〜ゴールド3くらいの方を探しています。", rows: "7", maxlength: "1000" %>
      </div>

      <div class="submit-btn-contents">
        <%= f.submit "UPDATE", class: "submit-btn" %>
        <%= link_to 'BACK', root_path, class: "back-btn" %>
      </div>
    </div>
    <% end %>
  </div>
</div>