<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_party_path do %>
    <%= render 'shared/new_rec_button' %>
  <% end %>
</div>

<div class="container" id="root">
  <h1 class="list-title-text">// PARTY RECRUITMENTS</h1>

  <h1 class="title title-top">PARTY</h1>


  <div class="item-lists">
    <% if user_signed_in? %>
      <% @parties.each do |party| %>
        <%= react_component("PartyList", {post: party, tags: party.party_tags, userId: current_user.id}) %>
      <% end %>
    <% else %>
      <% @parties.each do |party| %>
        <%= react_component("PartyList", {post: party, tags: party.party_tags}) %>
      <% end %>
    <% end %>
  </div>

  <ul class="item-lists">
    <%# render partial: 'party', collection: @parties %>
  </ul>
</div>