<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_party_path do %>
    <%= render 'shared/new_rec_button' %>
  <% end %>
</div>

<div class="container">
  <h1 class="list-title-text">// PARTY RECRUITMENTS</h1>

  <div class="rec-title">
    <h1>PARTY</h1>
  </div>
  
  <% if user_signed_in? %>
    <%= react_component("PartyList", {posts: @parties, userId: current_user.id}) %>
  <% else %>
    <%= react_component("PartyList", {posts: @parties}) %>
  <% end %>

  <ul class="item-lists">
    <%# render partial: 'party', collection: @parties %>
  </ul>
</div>