<%= render 'shared/header' %>

<div class="new-rec-button">
  <%= link_to '投稿', new_party_path, class: "new-rec-button-text"%>
</div>

<div class="container">

  <ul class="item-lists">
    <% @parties.each do |party| %>

    <li class="list">
      <%= link_to party_path(party) do %>

        <div class="item-title">
          <h3><%= party.party_title %></h3>
          <span class="category">PARTY</span>
        </div>

      <div class="item-info">
      
        <div class="item-game-id">
          <%= party.party_game_id %>
        </div>

        <div class="item-text">
          <%= party.party_text %>
        </div>

      </div>
      <% end %>
    </li>

    <% end %>
  </ul>
</div>