<%= render 'shared/header' %>

<div class="item-contents">
  <%= link_to '投稿', new_party_path, class: "new-rec-button"%>
  <div class="show-main">
    <div class="show-info">

      <div class="show-title">
        <h3><%= @party.party_title %></h3>
      </div>

      <div class="show-game-id">
        <%= @party.party_game_id %>
      </div>

      <div class="show-text">
        <%= @party.party_text %>
      </div>

    </div>

    <div class="show-buttons">
          <%= link_to '編集', edit_party_path(@party), class: "edit-btn" %>
          <%= link_to '削除', party_path(@party), method: :delete, class: "delete-btn" %>
    </div>
  </div>

</div>