<%= render 'shared/header' %>


<section class="video-wrap">

  <%= video_tag("video.mp4", poster: "video.jpg", autoplay: true, loop: true, muted: true, class: "bg-video") %>

  <div class="video-contents">
    <div class="copy">
      <h1>FIND YOUR</h1>
      <h1>BUDDY</h1>
    </div>
      <% unless user_signed_in? %>
        <div class="btn-border">
          <%= link_to 'SIGN UP', new_user_registration_path, class: "video-sign-up-btn" %>
        </div>
      <% end %>
  </div>
</section>


<section class="container" id="root"> 
  <h1 class="list-title-text">// LATEST RECRUITMENTS</h1>
  

  <h1 class="title title-top">FRIEND</h1>

  <div class="item-lists">
    <% if user_signed_in? %>
      <% @friends.each do |friend| %>
        <%= react_component("FriendList", {post: friend, tags: friend.friend_tags, userId: current_user.id}) %>
      <% end %>
    <% else %>
      <% @friends.each do |friend| %>
        <%= react_component("FriendList", {post: friend, tags: friend.friend_tags}) %>
      <% end %>
    <% end %>
  </div>

  <h1 class="title">PARTY</h1>

  <div class="item-lists">
    <% if user_signed_in? %>
      <% @parties.each do |party| %>
        <%= react_component("PartyList", {post: party, tags: party.party_tags, userId: current_user.id}) %>
      <% end %>
    <% else %>
      <% @parties.each do |party| %>
        <%= react_component("PartyList", {post: party, tags: party.party_tags}) %>
      <% end %>
    <% end %>
  </div>

  <h1 class="title">TEAM</h1>

  <div class="item-lists">
    <% if user_signed_in? %>
      <% @teams.each do |team| %>
        <%= react_component("TeamList", {post: team, tags: team.team_tags, userId: current_user.id}) %>
      <% end %>
    <% else %>
      <% @teams.each do |team| %>
        <%= react_component("TeamList", {post: team, tags: team.team_tags}) %>
      <% end %>
    <% end %>
  </div>

  <h1 class="title">SCOUT</h1>

  <div class="item-lists">
    <% if user_signed_in? %>
      <% @scouts.each do |scout| %>
        <%= react_component("ScoutList", {post: scout, tags: scout.scout_tags, userId: current_user.id}) %>
      <% end %>
    <% else %>
      <% @scouts.each do |scout| %>
        <%= react_component("ScoutList", {post: scout, tags: scout.scout_tags}) %>
      <% end %>
    <% end %>
  </div>

  <ul class="item-lists">
    <%# render partial: 'friends/friend', collection: @friends%>
    <%# render partial: 'parties/party', collection: @parties %>
    <%# render partial: 'teams/team', collection: @teams %>
    <%# render partial: 'scouts/scout', collection: @scouts %>
  </ul>
</section>

