<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_friend_path do %>
    <%= render 'shared/new_rec_button' %>
  <% end %>
</div>

<div class="container" id="root">
  <h1 class="list-title-text">// FRIEND RECRUITMENTS</h1>
  <h1 class="title title-top">FRIEND</h1>

    <%= search_form_for @q, class: "search-section" do |f| %>
    <%= f.label :friend_title_cont, 'タイトル検索' %>
    <%= f.search_field :friend_title_cont %>
    <%= f.label :friend_game_id_cont, 'ユーザー名検索' %>
    <%= f.search_field :friend_game_id_cont %>
    <%= f.label :friend_text_cont, '本文検索' %>
    <%= f.search_field :friend_text_cont %>

    <%= f.label :friend_tags_name_in, 'タグ検索' %>
      <%= f.collection_check_boxes(:friend_tags_name_in, FriendTag.all, :name, :name) do |tag| %>
        <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
            <%= tag.check_box class: 'form-check-input' %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
      
    <%= f.submit %>
    <% end %>

  <div class="item-lists">
    <% if user_signed_in? %>
      <% @friends.each do |friend| %>
        <%= react_component("FriendList", {post: friend, tags: friend.friend_tags, userId: current_user.id}) %>
      <% end %>
    <% else %>
      <% @friends.each do |friend| %>
        <%= react_component("FriendList", {post: friend, tags: friend.friend_tags}) %>
      <% end %>
    <% end %>
  </div>


  <ul class="item-lists">
    <%# render partial: 'friend', collection: @friends %>
  </ul>
</div>

