<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_friend_path do %>
    <%= render 'shared/new_rec_button' %>
  <% end %>
</div>

<div class="container" id="root">
  <h1 class="list-title-text">// FRIEND RECRUITMENTS</h1>

  <%= search_form_for @q, class: "search-section" do |f| %>
    <%= f.label :friend_title_cont, 'タイトル検索' %>
    <%= f.search_field :friend_title_cont %>
    <%= f.submit %>
  <% end %>

  <h1 class="title title-top">FRIEND</h1>

  <div class="item-lists">
    <% if user_signed_in? %>
      <% @friends.each do |friend| %>
        <%= react_component("FriendList", {post: friend, tags: friend.friend_tags, userId: current_user.id}) %>
      <% end %>
    <% else %>
      <% @friends.each do |friend| %>
        <%= react_component("FriendList", {post: friend, tags: friend.friend_tags}) %>
      <% end %>
    <% end %>
  </div>


  <ul class="item-lists">
    <%# render partial: 'friend', collection: @friends %>
  </ul>
</div>

