<%= render 'shared/header' %>

<div class="new-rec-button">
  <%= link_to '投稿', new_friend_path, class: "new-rec-button-text"%>
</div>

<div class="item-contents">

  <ul class="item-lists">
    <% @friends.each do |friend| %>
    <li class="list">
      <%= link_to friend_path(friend) do %>
      <div class="item-info">

        <div class="item-title">
          <h3><%= friend.friend_title %></h3>
          <span class="category">FRIEND</span>
        </div>

        <div class="item-game-id">
          <%= friend.friend_game_id %>
        </div>

        <div class="item-text">
          <%= friend.friend_text %>
        </div>

      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>