<%= render 'shared/header' %>
<h1>FRIEND</h1>
<%= link_to 'new friend', new_friend_path, class: "new-friend-button"%>

<ul class="friend-lists">
  <% @friends.each do |friend| %>
    <li class="list">
      <%= link_to friend_path(friend) do %>
        <div class="friend-info">
          <h3 class="friend-title">
            <%= friend.title %>
          </h3>

          <div class="friend-game-id">
            <%= friend.friend_game_id %>
          </div>

          <div class="friend-text">
            <%= friend.friend_text %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>