<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_friend_path do %>
    <div class="new-rec-button">
      <p class="new-rec-button-text">投稿</p>
    </div>
  <% end %>
</div>

<div class="container">
  <% if user_signed_in? %>
    <%= react_component("RecruitmentList", {posts: @friends, userId: current_user.id}) %>
  <% else %>
    <%= react_component("RecruitmentList", {posts: @friends}) %>
  <% end %>


  <ul class="item-lists">
    <%= render partial: 'friend', collection: @friends %>
  </ul>
</div>