<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_friend_path do %>
    <%= render 'shared/new_rec_button' %>
  <% end %>
</div>

<div class="container">
  <h1 class="list-title-text">// FRIEND RECRUITMENTS</h1>

  <div class="rec-title">
    <h1>FRIEND</h1>
  </div>

  <% if user_signed_in? %>
    <%= react_component("FriendList", {posts: @friends, userId: current_user.id}) %>
  <% else %>
    <%= react_component("FriendList", {posts: @friends}) %>
  <% end %>


  <ul class="item-lists">
    <%# render partial: 'friend', collection: @friends %>
  </ul>
</div>