<%= render 'shared/header' %>

<div class="container">
  <div class="new-main">
    <h2 class="new-item-title">フレンド募集</h2>
    <%= form_with model: @friend, local: true do |f| %>

    <div class="new-item">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :friend_title, class: "text-input", id: "item-title", placeholder: "募集タイトル", maxlength: "40"%>
      <div class="weight-bold-text">
        ゲームID
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :friend_game_id, class: "text-input", id: "item-game-id", placeholder:"Cypher#0010" %>
      <div class="new-item-text">
        <div class="weight-bold-text">
          募集内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :friend_text, class: "text-input text-box", id: "item-text", placeholder: "VALORANTを一緒にプレイするフレンドを探しています。活動している時間帯は平日は20:00〜23:00くらいです。", rows: "7", maxlength: "600" %>
      </div>

      <div class="submit-btn-contents">
        <%= f.submit "掲載する", class: "submit-btn" %>
        <%= link_to 'BACK', root_path, class: "back-btn" %>
      </div>
    </div>
    <% end %>
  </div>
</div>