<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_friend_path do %>
    <div class="new-rec-button">
      <p class="new-rec-button-text">投稿</p>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="show-main">
    <h1 class="show-title">FRIEND</h1>

    <div class="show-container">
      <div class="show-item">
        <p class="label-text">TITLE:</p>
        <h3><%= @friend.friend_title %></h3>
      </div>

      <div class="show-item">
        <p class="label-text">NAME:</p>
        <%= link_to @friend.friend_game_id, user_path(@friend.user_id), class:"game-id" %>
      </div>

      <div class="show-item">
        <p class="label-text">TAGS:</p>
        <div class="tag-container">
          <% @friend.friend_tags.each do |tag| %>
            <span class='tag'><%= tag.name %></span>
          <% end %>
        </div>
      </div>

      <div class="show-item show-about-bg">
        <p class="label-text">DESCRIPTION:</p>
        <%= @friend.friend_text %>
      </div>
    </div>

  </div>

    <div class="show-buttons">
      <% if current_user == @friend.user %>
        <%= link_to '編集', edit_friend_path(@friend), class: "btn edit-btn" %>
        <%= link_to '削除', friend_path(@friend), method: :delete, class: "btn delete-btn" %>
      <% end %>
    </div>

</div>