<%= render "shared/header" %>

<div class="container">

  <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

    <div class="registration-wrapper">
      <%= render 'shared/error_messages', model: @user %>

      <h1 class="registration-title">アカウント作成</h1>

      <div class="form-group">
        <div class='weight-bold-text'>
          ニックネーム
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :nickname, class:"text-input", id:"nickname", placeholder:"ニックネーム", maxlength:"40" %>
      </div>

      <div class="form-group">
        <div class='weight-bold-text'>
          <label class="form-text">メールアドレス</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.email_field :email, class:"text-input", id:"email", placeholder:"sample@email.com", autofocus: true %>
      </div>

      <% if @sns_id.present? %>
        <%= hidden_field_tag :sns_auth, true %>
      <% else %>
        <div class="form-group">
          <div class='weight-bold-text'>
            <label class="form-text">パスワード</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.password_field :password, class:"text-input", id:"password", placeholder:"6文字以上の半角英数字" %>
          <p class="label-text">※英字と数字の両方を含めて設定してください</p>
        </div>

        <div class="form-group">
          <div class='weight-bold-text'>
            <label class="form-text">パスワード(確認)</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.password_field :password_confirmation, class:"text-input", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
        </div>
      <% end %>

      <div class='register-btn-container'>
        <%= f.submit "会員登録" ,class:"btn register-btn" %>
      </div>      
    </div>

  <% end %>

</div>