<%= render 'shared/header' %>
<% unless Desk.exists?(user_id: @user.id) %>
  <%= link_to 'デスク投稿', new_user_desk_path(@user), class: "new-rec-button"%>
<% end %>

<div class="item-contents">
  <div class="profile-main">

    <div class="profile-title">
      PROFILE
    </div>

    <div class="profile-item">
      <p class="label-text">NAME:</p>
      <div class="nickname">
        <%= @user.nickname %>
      </div>
    </div>


    <div class="gender-and-birthday-container">
    
      <% unless @user.gender_id.blank? %>
        <div class="profile-item">
          <p class="label-text">GENDER:</p>
          <%= @user.gender.name %>
        </div>
      <% end %>

      <% unless @user.birthday.blank? %>
        <div class="profile-item item-birthday">
          <p class="label-text">BIRTHDAY:</p>
          <div class="birthday">
            <%= @user.birthday %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="profile-item">

      <% unless @user.twitter_name.empty? && @user.twitch_name.empty? && @user.mildom_name.empty? %>
        <p class="label-text">SNS:</p>
      <% end %>

      <% unless @user.twitter_name.empty? %>
        <div class="twitter">
          <a href="https://twitter.com/<%= @user.twitter_name %>">twitter.com/<%= @user.twitter_name %></a>
        </div>
      <% end %>

      <% unless @user.twitch_name.empty? %>
        <div class="twitch">
          <a href="https://www.twitch.tv/<%= @user.twitch_name %>">twitch.tv/<%= @user.twitch_name %></a>
        </div>
      <% end %>

      <% unless @user.mildom_name.empty? %>
        <div class="mildom">
          <a href="https://www.mildom.com/<%= @user.mildom_name %>">mildom.com/<%= @user.mildom_name %></a>
        </div>
      <% end %>

    </div>

    <div class="profile-item">
      <div class="profile-bg">      
        <p class="label-text">ABOUT ME:</p>
        <div class="profile">
          <%= @user.profile %>
        </div>
      </div>
    </div>

  </div>

      <div class="show-buttons">
      <% if current_user == @user %>
        <%= link_to '編集', edit_user_path(@user), class: "edit-btn" %>
        <%# link_to '削除', friend_path(@friend), method: :delete, class: "delete-btn" %>
      <% end %>
    </div>

  <% if Desk.exists?(user_id: @user.id) %>
    <div class="item-contents">
      <div class="profile-main">
        <div class="profile-title">
          DESK
        </div>
        <div class="desk-img-container">
          <%= image_tag @desk.image %>
        </div>

        <div class="profile-item">
          <div class="profile-bg">          
            <p class="label-text">ABOUT DESK:</p>
            <div class="profile">
              <%= @desk.desk_text %>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>


</div>