<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <%= link_to root_path do %>
    <div class="logo">

      <%= image_tag 'logo.svg', class: "logo-img" %>

      <div class="logo-text">
        <div class="logo-name">TEAM - PLZ</div>
        <div class="logo-sub-name">For Gamers</div>
      </div>

    </div>
  <% end %>

  <div class='nav'>

    <ul class='lists-left'>
      <li><%= link_to 'FRIEND', friends_path, class: "friend-list" %></li>
      <li><%= link_to 'PARTY', parties_path, class: "party-list" %></li>
      <li><%= link_to 'TEAM', teams_path, class: "team-list" %></li>
      <li><%= link_to 'SCOUT', scouts_path, class: "scout-list" %></li>
    </ul>

    <ul class='lists-right'>
      <%# ログイン状態でheaderの表示を変更 %>
      <% if user_signed_in? %>
        <%= react_component("HeaderUserMenu", {uid: current_user.id, name: current_user.nickname}) %>
      <% else %>
        <li><%= link_to 'LOGIN', new_user_session_path, class: "login" %></li>
        <li><%= link_to 'JOIN NOW', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>

  </div>
</header>