<%= render 'shared/header' %>

<div class="container">
  <div class="new-main">
    <h2 class="new-item-title">デスク画像</h2>
      <%= form_with model: [@user, @desk], local: true do |f|%>
        <div class="new-item">
          <h2 class="weight-bold-text">
            デスク画像:
          </h2>
          <%= f.file_field :image %>


          <h2 class="weight-bold-text">
            テキスト:
          </h2>
          <%= f.text_area :desk_text, class: "text-input text-box"%>

          <div class="submit-btn-contents">
            <%= f.submit "SAVE", class: "btn submit-btn" %>
            <%= link_to 'BACK', root_path, class: "btn back-btn" %>
          </div>
        </div>
      <% end %>  
  </div>
</div>

