<%= form_with model: @scout, local: true do |f| %>

  <div class="new-item">

    <%= render 'shared/error_messages', model: @scout %>

    <div class="weight-bold-text">
      タイトル
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :scout_title, class: "text-input", id: "item-title", placeholder: "募集タイトル", maxlength: "40"%>

    <div class="weight-bold-text">
      ゲームID
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :scout_game_id, class: "text-input", id: "item-game-id", placeholder:"Cypher#0010" %>

    <div class="weight-bold-text">
      タグ
      <div class="tag-container">
        <%= f.collection_check_boxes(:scout_tag_ids, ScoutTag.all, :id, :name) do |tag| %>
          <div class='form-check'>
            <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="new-item-text">
      <div class="weight-bold-text">
        募集内容
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :scout_text, class: "text-input text-box", id: "item-text", placeholder: "募集文", rows: "7", maxlength: "1000" %>
    </div>

    <div class="submit-btn-contents">
      <%= f.submit "掲載する", class: "btn submit-btn" %>
      <%= link_to 'BACK', scouts_path, class: "btn back-btn" %>
    </div>
  </div>

<% end %>