<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_scout_path do %>
    <%= render 'shared/new_rec_button' %>
  <% end %>
</div>

<div class="container">
  <h1 class="list-title-text">// SCOUT RECRUITMENTS</h1>

  <div class="rec-title">
    <h1>SCOUT</h1>
  </div>

  <% if user_signed_in? %>
    <%= react_component("ScoutList", {posts: @scouts, userId: current_user.id}) %>
  <% else %>
    <%= react_component("ScoutList", {posts: @scouts}) %>
  <% end %>

  <ul class="item-lists">
    <%# render partial: 'scout', collection: @scouts %>
  </ul>
</div>