<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_scout_path do %>
    <div class="new-rec-button">
      <p class="new-rec-button-text">投稿</p>
    </div>
  <% end %>
</div>

<div class="main-container">
  <div class="show-main">
    <h1 class="show-title">SCOUT</h1>

    <div class="show-container">
      <div class="show-item">
        <p class="label-text">TITLE:</p>
        <h3><%= @scout.scout_title %></h3>
      </div>

      <div class="show-item">
        <p class="label-text">NAME:</p>
        <%= link_to @scout.scout_game_id, user_path(@scout.user_id), class:"game-id" %>
      </div>

      <div class="show-item">
        <p class="label-text">TAGS:</p>
        <div class="tag-container">
          <% @scout.scout_tags.each do |tag| %>
            <span class='tag'><%= tag.name %></span>
          <% end %>
        </div>
      </div>

      <div class="show-item show-about-bg">
        <p class="label-text">DESCRIPTION:</p>
        <%= @scout.scout_text %>
      </div>
    </div>

  </div>

    <div class="show-buttons">
      <% if current_user == @scout.user %>
        <%= link_to '編集', edit_scout_path(@scout), class: "btn edit-btn" %>
        <%= link_to '削除', scout_path(@scout), method: :delete, class: "btn delete-btn" %>
      <% end %>
    </div>

</div>