<%= render 'shared/header' %>

<div class="item-contents">
  <%= link_to '投稿', new_scout_path, class: "new-rec-button"%>
  <div class="show-main">
    <div class="show-info">

      <div class="show-title">
        <h3><%= @scout.scout_title %></h3>
      </div>

      <div class="show-game-id">
        <%= @scout.scout_game_id %>
      </div>

      <div class="show-text">
        <%= @scout.scout_text %>
      </div>

    </div>

    <div class="show-buttons">
          <%= link_to '編集', edit_scout_path(@scout), class: "edit-btn" %>
          <%= link_to '削除', scout_path(@scout), method: :delete, class: "delete-btn" %>
    </div>
  </div>

</div>