<%= render "shared/header" %>






<div class="main-container">
  <%= form_with model: @user, url: new_user_session_path, local: true do |f| %>
    <div class="login-wrapper">
      <div class="title-wrapper">
        <h1 class="show-title">LOGIN</h1>
      </div>

      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>

      <div class="login-group">
        <div class="weight-bold-text">メールアドレス</div>
        <%= f.email_field :email, class:"text-input", id:"email", placeholder:"sample@email.com" %>
      </div>

      <div class="login-group">
        <p class="weight-bold-text">パスワード</p>
        <%= f.password_field :password, class:"text-input", id:"password", placeholder:"" %>
      </div>

      <div class="login-btn-container">
        <%= f.submit "LOGIN" ,class:"btn login-btn" %>
      </div>

    </div>
  <% end %>
  <div class="sns-twitter btn">
    <i class="fab fa-twitter"></i>
    <%= link_to 'Login with Twitter', user_twitter_omniauth_authorize_path, method: :post %>
  </div>

  <div class="sns-google btn">
    <i class="fab fa-google"></i>
    <%= link_to 'Login with Google', user_google_oauth2_omniauth_authorize_path, method: :post%>
  </div>
</div>



